* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #7f7f7f;
    display: flex;
    justify-content: center;
}

.continer {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 14%;
    background-color: #018a8a;
    color: #93cfdf;

}

.main {
    height: 74%;
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.main > div{
    background-color: #00fffe;
    
}

.small{
    width: 25%;
}

.big{
    width: 50%;
}

.footer {
    height: 9%;
    background-color: #018a8a;
    color: #93cfdf;

}

.header p, footer p {
    padding: 5px;
}